<!DOCTYPE html>
<html lang="en">
<head>
  <title>Responsive Landing Page</title>
</head>
<body class="container">
  <h1>Hello World App</h1>
  <div id="content"><%- content %></div>
  <div>==============</div>
  <div id="footer"></div>

  <script src="scripts/home.js"></script>
</body>
</html>